* {
  margin: 0;
  padding: 0;
}

.main-container {
  align-items: center;
  background-color: #f5f6fa;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.main-title {
  color: #c23616;
  font-family: Lobster, Pacifico, cursive;
  font-weight: 600;
  text-shadow: 1px 1px 0 #192a56;
}

.header-container , .expense-container {
  align-items: center;
  background-color: #273c75;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.expense-container {
  background-color: #c23616;
  height: 80px;
}

.header-container .main-title {
  margin-left: 10px;
}

.header-user-info {
  color: #f5f6fa;
}

.header-user-info span {
  margin-right: 20px;
}
